<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <style>* {padding: 0; margin: 0}</style>
  </head>

    <script src="{{url_for('static', filename='pixi.min.js')}}"></script>

    <body>
      <script type="text/javascript">

      //Aliases
  let Application = PIXI.Application,
      loader = PIXI.loader,
      resources = PIXI.loader.resources,
      Sprite = PIXI.Sprite;

  //Create a Pixi Application
  let app = new Application({
      width: 1000,
      height: 800,
      antialias: true,
      transparent: false,
      resolution: 1
    }
  );

  //Add the canvas that Pixi automatically created for you to the HTML document
  document.body.appendChild(app.view);

  //load an image and run the `setup` function when it's done
  loader
    .add("{{url_for('static', filename='images/test1.png')}}")
    .add("{{url_for('static', filename='images/KeyCaps.png')}}")
    .load(setup);



  //This `setup` function will run when the image has loaded
  function setup() {

    //KeyCaps row
    let keyQ = new Sprite(resources["{{url_for('static', filename='images/KeyCaps.png')}}"].texture);
    keyQ.x = 50;
    keyQ.y = 700;

    let keyW = new Sprite(resources["{{url_for('static', filename='images/KeyCaps.png')}}"].texture);
    keyW.x = 150;
    keyW.y = 700;

    let keyE = new Sprite(resources["{{url_for('static', filename='images/KeyCaps.png')}}"].texture);
    keyE.x = 250;
    keyE.y = 700;

    let keyR = new Sprite(resources["{{url_for('static', filename='images/KeyCaps.png')}}"].texture);
    keyR.x = 350;
    keyR.y = 700;

    //Grid top row
    let g00 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g00.x = 50;
    g00.y = 400;

    let g10 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g10.x = 150;
    g10.y = 400;

    let g20 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g20.x = 250;
    g20.y = 400;

    let g30 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g30.x = 350;
    g30.y = 400;

    //Grid middle row
    let g01 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g01.x = 50;
    g01.y = 500;

    let g11 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g11.x = 150;
    g11.y = 500;

    let g21 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g21.x = 250;
    g21.y = 500;

    let g31 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g31.x = 350;
    g31.y = 500;

    //Grid bottom row
    let g02 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g02.x = 50;
    g02.y = 600;

    let g12 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g12.x = 150;
    g12.y = 600;

    let g22 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g22.x = 250;
    g22.y = 600;

    let g32 = new Sprite(resources["{{url_for('static', filename='images/test1.png')}}"].texture);
    g32.x = 350;
    g32.y = 600;

    //Add the grid top row to the stage
    app.stage.addChild(g00);
    app.stage.addChild(g10);
    app.stage.addChild(g20);
    app.stage.addChild(g30);

    //Add the grid middle row to the stage
    app.stage.addChild(g01);
    app.stage.addChild(g11);
    app.stage.addChild(g21);
    app.stage.addChild(g31);

    //Add the grid bottom row to the stage
    app.stage.addChild(g02);
    app.stage.addChild(g12);
    app.stage.addChild(g22);
    app.stage.addChild(g32);
  }




      </script>
    </body>
</html>
