<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <title>BattleBard aka MavenMaestro from Nazi who played Yahtzee in Gamejam 2018</title>
  <style>{padding: 0; margin: 0}</style>
</head>
<script src="{{url_for('static', filename='jquery-latest.js')}}"></script>
<script src="{{url_for('static', filename='pixi.min.js')}}"></script>
<script src="{{url_for('static', filename='GameLoop.js')}}"></script>
<script src="{{url_for('static', filename='sparkExplosion.js')}}"></script>
<script src="{{url_for('static', filename='beamExplosion.js')}}"></script>
<script src="{{url_for('static', filename='gridSetup.js')}}"></script>
<script src="{{url_for('static', filename='makemap.js')}}"> </script>
<script src ="{{url_for('static', filename='spawnNote.js')}}"></script>
<script src ="{{url_for('static', filename='pixi-sound.js')}}"></script>
<script src ="{{url_for('static', filename='KeyController.js')}}"></script>
<script src ="{{url_for('static', filename='viewLoader.js')}}"></script>
<script src ="{{url_for('static', filename='enemyEnum.js')}}"></script>

<body>
  <script type="text/javascript">
  const sprites = {};

  //Aliases
  const Application = PIXI.Application,
  loader = PIXI.loader,
  resources = PIXI.loader.resources,
  Sprite = PIXI.Sprite;

  //Create a Pixi Application
  const app = new Application({
    width: 1000,
    height: 700,
    antialias: true,
    transparent: false,
    resolution: 1
  });

  var ready = false;
  var playerlife = 10; // NOTE MAX life
  var crashCheck = false;
  var charswitch = 0;
  var mainswitch = 0;
  var killswitch = 0;
  var angry = 0;

  var monsterMaxLife = 50;
  var monsterLife = monsterMaxLife; // NOTE Current monster life
  var currentCombo = 0;
  var enemyNumber = enemyEnum['hendrix'];

  //Add the canvas that Pixi automatically created for you to the HTML document
  document.body.appendChild(app.view);
  loadView();
  loader.onComplete.add(() => {
    ready = true;
    //   bindKeys();
  });

  // buildMap(mapTextures);

  var track="";
  switch (enemyNumber){
    case 2: //Hendrix
    track="static/audio/Tartini.mp3"
    break;
    case 5: //Zappa
    track="static/audio/Disco.mp3"
    break;
    case 6://Prince
    track= "static/audio/Quick.mp3"
    break;
    case 3: //Tartini
    track = "static/audio/Tartini.mp3"
    break;
    case 4: //Tartini Devil
    track = "static/audio/TartiniDevil.mp3"
    break;
    case 0: //Intro, any monster
    track = "static/audio/Intro.mp3"
    break;
  }

  // Beat arrays
  // Tartini
  var beatArrays = [];
  beatArrays[3] = [
    '00000000000000110000000000001100000000000000001100000000000011000000110000000000000011000000000000000000000000000000110000001100',
    '00000000110000000000000011000000000000001100000000000000110000000000000000001100000000000000110000000000000011001100000011000000',
    '00001100000000000000110000000000000011000000000000001100000000001100000000000000110000000000000000001100110000000000000000000000',
    '11000000000000001100000000000000110000000000000011000000000000000000000001100000000000001100000011000000000000000000000000000000'];
  beatArrays[0] = [
    '0000000000000000000000000000000010010010100100101001001010010010100100001000000000000010000000000000100000000000',
    '1010000010100000101000001010000000000000000000000000000000000000000001000000001000000101000010000010001000000000',
    '0000001000000010000000100000001000000000000000000000000000000000000000100000100010111000001000101000000010000000',
    '0000100000001000000010000000100000100100001001000010010000100100001000010010000000000000100000000000000000000000'];

  //Set the game state
  state = titleScreen;

  var MM;

  //Start the game loop
  app.ticker.add(delta => gameLoop(delta));

  function gameLoop(delta){
    //Update the current game state:
    state(delta);
  }

  // Title screen logic
  function titleScreen (delta) {
    // Bind keys to title page
    bindTitleKeys();
    // NOTE No loader yet
    // loader.onComplete.add(() => {
    //   bindTitleKeys()});

    // Show title things

    // NOTE: State changes in KeyController
  }

  function overworldScreen (delta) {
    if (setup){
      setupMap();
      bindOverworldKeys();
      setup = false
    }
    // Logic to lead to next state is in KeyController. NOTE!
  }

  function preGame(delta){
    MM = new musicManager(track,
      beatArrays[0],
      222, //4*151,
      3.0);
console.log("pregame");
      life = playerlife;
      monsterLife = monsterMaxLife;

      // Load music manager

      // Start music manager
      f = (delta) => MM.update(delta);
      MM.f = f;
      app.ticker.add(f);
      MM.startTrack();

      // if(!loader.loading){
      //   state = play;
      //wait for loader
      if(enemyNumber > 6){
        enemyNumber = 2
      }
      gridSetup(enemyNumber++);
      bindRhythmKeys();
      state = play

      var enemyBarBase = new PIXI.Graphics();
      var enemyBarTop = new PIXI.Graphics();
      var enemyBarMask = new PIXI.Graphics();
      enemyBarBase.lineStyle(1);
      enemyBarBase.beginFill(0x000000, 1.0)
      enemyBarBase.drawRoundedRect(725, 350, 200, 20, 10);
      enemyBarTop.lineStyle(0);
      enemyBarTop.beginFill(0xFF0000, 1.0)
      enemyBarTop.drawRoundedRect(725+2.5, 350+2.5, 200-5, 20-5, 10-2.5);
      enemyBarMask.lineStyle(0);
      enemyBarMask.beginFill(0xFF0000, 1.0)
      enemyBarMask.drawRoundedRect(725+2.5, 350+2.5, 200-5, 20-5, 10-2.5);
      enemyBarTop.mask = enemyBarMask;
      enemyBarTop.addChild(enemyBarMask);
      app.stage.addChild(enemyBarBase);
      app.stage.addChild(enemyBarTop);

      app.ticker.add((delta) => {enemyBarMask.x =
        -200 + 200*monsterLife/monsterMaxLife});

        var playerBarBase = new PIXI.Graphics();
        var playerBarTop = new PIXI.Graphics();
        var playerBarMask = new PIXI.Graphics();
        playerBarBase.lineStyle(0);
        playerBarBase.beginFill(0x000000, 1.0)
        playerBarBase.drawRoundedRect(750, 425, 150, 15, 7.5);
        playerBarTop.lineStyle(0);
        playerBarTop.beginFill(0x00FF00, 1.0)
        playerBarTop.drawRoundedRect(750+2.5, 425+2.5, 150-5, 15-5, 7.5-2.5);
        playerBarMask.lineStyle(0);
        playerBarMask.beginFill(0x00FF00, 0.2)
        playerBarMask.drawRoundedRect(750+2.5, 425+2.5, 150-5, 15-5, 7.5-2.5);
        playerBarTop.mask = playerBarMask;
        playerBarTop.addChild(playerBarMask);
        app.stage.addChild(playerBarBase);
        app.stage.addChild(playerBarTop);

        app.ticker.add((delta) => {playerBarMask.x = -150 + 150*life/playerlife});
        // playerBarMask.x -= 50;

        // Combo panel
        // Combo panel
        var comboPanel = new PIXI.Text(
          'x' + currentCombo,
          {fontFamily : 'Trebuchet MS', fontSize: 20,
          fill : [0xFF0000, 0xE25822, 0xFFFFFF],
          fillGradientStops: [0.0, 0.2, 1.0],
          align : 'center',
          dropShadow: true});
          comboPanel.x = 720;
          comboPanel.y = 550;
          comboPanel.anchor.set(0.5);
          app.stage.addChild(comboPanel);
          app.ticker.add((delta) => {comboPanel.text = 'x' + currentCombo;
          comboPanel.style.fontSize = Math.min(60,20+1*currentCombo);
          comboPanel.style.fillGradientStops = [0.0, Math.min(1.0, 0.2+0.02*currentCombo), 1.0]});

          // ready = true;
        }

        function play(delta) {
          // WARNING: Can't get async to work: the loader is already done too fast

          //play dodge component
          dodgeNotes();

          if(monsterLife > 0){
            //animations
            characterChanger();
            //animations
            mainChanger();
          }

          //checks for runaway notes
          escapeNotes();

          // Player lose!
          if (life <= 0){
            killChar();
          }
          // Player win!
          else if (monsterLife <= 0){
            killMon();
          }

        }

        function dodgeNotes(){
          if (angry == 0){
            sprites.player.visible = true;
            sprites.playerH.visible = false;
          }
          else
          angry--;
          if (MM.handleCrash(sprites.player.x, sprites.player.y)){
            sprites.player.visible = false;
            sprites.playerH.x = sprites.player.x;
            sprites.playerH.y = sprites.player.y;
            sprites.playerH.visible = true;
            angry = 10;

            lifeHit();
            // console.log("crash");
          }
        }


        function killPlayer(){}

        function escapeNotes(){
          if (MM.handleBoundary(app.screen.height)){
            // lifeHit();
            currentCombo = 0;
            // console.log("escape");
          }
        }


        function killChar(){
          if (killswitch < 45){
            MM.terminate();
            m01.visible = false;
            m02.visible = false;
            m03.visible = false;
            m0D.visible = true;
            sprites.playerH.x = sprites.player.x;
            sprites.playerH.y = sprites.player.y;
            sprites.player.visible = false;
            sprites.playerH.visible = true;
            killswitch++;
          }
          else {
            // state = overworldScreen;
            removeChildren();
            killswitch = 0;
            state = titleScreen;
          }
        }

        function killMon(){
          if (killswitch < 45){
            MM.terminate();
            character1.visible= false;
            character2.visible = false;
            character3.visible = false;
            character4.visible = false;
            characterV.visible = true;
            m01.visible = false;
            m02.visible = false;
            m03.visible = false;
            m0H.visible = true;
            killswitch++;
          }
          else if (killswitch < 90){
            characterV.visible = false;
            characterH.visible = true;
            killswitch++;
          }
          else {
            // state = overworldScreen;
            removeChildren();
            killswitch = 0;
            state = titleScreen;
          }
        }

        //dont open this @Artem PlZ
        function characterChanger(){
          if (charswitch < 30){
            charswitch++;}
            else if (charswitch < 60){
              charswitch++;
              character1.visible = false;
              character2.visible = true;
            }else if (charswitch < 90){
              charswitch++;
              character2.visible = false;
              character3.visible = true;
            }else if (charswitch < 120){
              charswitch++;
              character3.visible = false;
              character4.visible = true;
            }else{
              charswitch = 0;
              character4.visible = false;
              character1.visible = true;
            }
          }

          function mainChanger(){
            if (mainswitch < 30){
              mainswitch++;
            }else if (mainswitch < 60){
              mainswitch++;
              m01.visible = false;
              m02.visible = true;
            }else if (mainswitch < 90){
              mainswitch++;
              m02.visible = false;
              m03.visible = true;
            }else{
              mainswitch = 0;
              m03.visible = false;
              m01.visible = true;
            }
          }

          function monsterLifeHit(){
            monsterLife -= Math.pow(1+currentCombo, 0.3);
          }

          function lifeHit(){
            life--;
            //console.log(life);
          }

          function comboUp(){
            currentCombo++;
            // Celebrate milestones!
            if (currentCombo == 10 || currentCombo == 20){
              new beamExplosion(720, 550, 0.5);
            }
            else if (currentCombo == 30 || currentCombo == 40){
              new beamExplosion(720, 550, 2);
            }
            else if (currentCombo % 10 == 0 && currentCombo > 0){
              new beamExplosion(720, 550, 2*Math.floor(currentCombo/10))
            }
          }


          </script>
        </body>
        </html>
