<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <title>Hello World</title>
  <style>{padding: 0; margin: 0}</style>
</head>
<script src="{{url_for('static', filename='jquery-latest.js')}}"></script>
<script src="{{url_for('static', filename='pixi.min.js')}}"></script>
<script src="{{url_for('static', filename='GameLoop.js')}}"></script>
<script src="{{url_for('static', filename='sparkExplosion.js')}}"></script>
<script src="{{url_for('static', filename='gridSetup.js')}}"></script>
<script src="{{url_for('static', filename='makemap.js')}}"> </script>
<script src ="{{url_for('static', filename='spawnNote.js')}}"></script>
<script src ="{{url_for('static', filename='pixi-sound.js')}}"></script>
<script src ="{{url_for('static', filename='KeyController.js')}}"></script>
<script src ="{{url_for('static', filename='viewLoader.js')}}"></script>
<script src ="{{url_for('static', filename='enemyEnum.js')}}"></script>

<body>
  <script type="text/javascript">
  const sprites = {};

  //Aliases
  const Application = PIXI.Application,
  loader = PIXI.loader,
  resources = PIXI.loader.resources,
  Sprite = PIXI.Sprite;

  //Create a Pixi Application
  const app = new Application({
    width: 1000,
    height: 700,
    antialias: true,
    transparent: false,
    resolution: 1
  });

  mapData = {}
  setupMap();
  loadMap();
  var ready = false;
  var playerlife = 20;
  var crashCheck = false;
  var charswitch = 0;
  var mainswitch = 0;
  var killswitch = 0;
  var angry = 0;
  var enemyNumber = enemyEnum['hendrix'];

  //Add the canvas that Pixi automatically created for you to the HTML document
  document.body.appendChild(app.view);
  loadView();
  loader.onComplete.add(() => {
     ready = true;
  //   bindKeys();
  });

  // buildMap(mapTextures);

  var track="";
  switch (enemyNumber){
    case 2: //Hendrix
    track="static/audio/Tartini.mp3"
    break;
    case 5: //Zappa
    track="static/audio/Disco.mp3"
    break;
    case 6://Prince
    track= "static/audio/Quick.mp3"
    break;
    case 3: //Tartini
    track = "static/audio/Tartini.mp3"
    break;
    case 4: //Tartini Devil
    track = "static/audio/TartiniDevil.mp3"
    break;
    case 0: //Intro, any monster
    track = "static/audio/Intro.mp3"
    break;
  }

    //Set the game state
    state = titleScreen;

    var MM;

    //Start the game loop
    app.ticker.add(delta => gameLoop(delta));

    function gameLoop(delta){
      //Update the current game state:
      state(delta);
    }

    // Title screen logic
    function titleScreen (delta) {
      console.log('title');
      // Bind keys to title page
      bindTitleKeys();
      // NOTE No loader yet
      // loader.onComplete.add(() => {
      //   bindTitleKeys()});

      // Show title things

      // NOTE: State changes in KeyController
    }

    function overworldScreen (delta) {
      if (setup){
        console.log('overworld');
        renderMap();
        bindOverworldKeys();
        setup = false
      }
      // Logic to lead to next state is in KeyController. NOTE!
    }

    function preGame(delta){
      MM = new musicManager(track,
        [ '00000000000000110000000000001100000000000000001100000000000011000000110000000000000011000000000000000000000000000000110000001100',
        '00000000110000000000000011000000000000001100000000000000110000000000000000001100000000000000110000000000000011001100000011000000',
        '00001100000000000000110000000000000011000000000000001100000000001100000000000000110000000000000000001100110000000000000000000000',
        '11000000000000001100000000000000110000000000000011000000000000000000000001100000000000001100000011000000000000000000000000000000'],
        4*151,
        3.0);

      life = playerlife;

      // Load music manager

      // Start music manager
      f = (delta) => MM.update(delta);
      MM.f = f;
      app.ticker.add(f);
      MM.startTrack();

      // if(!loader.loading){
      //   state = play;
      //wait for loader
      if(enemyNumber > 6){
        enemyNumber = 2
      }
      gridSetup(enemyNumber++);
      bindPlayerControls();
      bindRhythmKeys();
      state = play

      var enemyBarBase = new PIXI.Graphics();
      var enemyBarTop = new PIXI.Graphics();
      enemyBarBase.lineStyle(1);
      enemyBarBase.beginFill(0x000000, 1.0)
      enemyBarBase.drawRoundedRect(725, 350, 200, 20, 10);
      enemyBarTop.lineStyle(0);
      enemyBarTop.beginFill(0xFF0000, 1.0)
      enemyBarTop.drawRoundedRect(725+2.5, 350+2.5, 200-5, 20-5, 10-2.5);
      app.stage.addChild(enemyBarBase);
      app.stage.addChild(enemyBarTop);

      var playerBarBase = new PIXI.Graphics();
      var playerBarTop = new PIXI.Graphics();
      var playerBarMask = new PIXI.Graphics();
      playerBarBase.lineStyle(0);
      playerBarBase.beginFill(0x000000, 1.0)
      playerBarBase.drawRoundedRect(750, 425, 150, 15, 7.5);
      playerBarTop.lineStyle(0);
      playerBarTop.beginFill(0x00FF00, 1.0)
      playerBarTop.drawRoundedRect(750+2.5, 425+2.5, 150-5, 15-5, 7.5-2.5);
      playerBarMask.lineStyle(0);
      playerBarMask.beginFill(0x00FF00, 0.2)
      playerBarMask.drawRoundedRect(750+2.5, 425+2.5, 150-5, 15-5, 7.5-2.5);
      playerBarTop.mask = playerBarMask;
      playerBarTop.addChild(playerBarMask);
      app.stage.addChild(playerBarBase);
      app.stage.addChild(playerBarTop);

      app.ticker.add((delta) => {playerBarMask.x = -150 + 150*life/playerlife});
      // playerBarMask.x -= 50;

      // ready = true;
    }

    function play(delta) {
      // WARNING: Can't get async to work: the loader is already done too fast

        //play dodge component
        dodgeNotes();
        if(life > 0){
          //animations
          characterChanger();
          //animations
          mainChanger();
        }

      if (life <= 0){
        killChar();
      }
    }

    function dodgeNotes(){
      if (angry == 0){
        sprites.player.visible = true;
        sprites.playerH.visible = false;
      }
      else
        angry--;
      if (MM.handleCrash(sprites.player.x, sprites.player.y)){
        sprites.player.visible = false;
        sprites.playerH.x = sprites.player.x;
        sprites.playerH.y = sprites.player.y;
        sprites.playerH.visible = true;
        angry = 10;

        lifeHit();
        console.log("crash");
      }
    }

    function killPlayer(){}

    function killChar(){
      if (killswitch < 45){
        m01.visible = false;
        m02.visible = false;
        m03.visible = false;
        m0D.visible = true;
        sprites.playerH.x = sprites.player.x;
        sprites.playerH.y = sprites.player.y;
        sprites.player.visible = false;
        sprites.playerH.visible = true;
        killswitch++;
      }
      else {
        state = overworldScreen;
        MM.terminate();
        removeChildren();
        killswitch = 0;
        unBindPlayerControls();
        setup = true;
        state = overworldScreen;
      }
    }


    //dont open this @Artem PlZ
    function characterChanger(){
      if (charswitch < 30){
        charswitch++;}
        else if (charswitch < 60){
          charswitch++;
          character1.visible = false;
          character2.visible = true;
        }else if (charswitch < 90){
          charswitch++;
          character2.visible = false;
          character3.visible = true;
        }else if (charswitch < 120){
          charswitch++;
          character3.visible = false;
          character4.visible = true;
        }else{
          charswitch = 0;
          character4.visible = false;
          character1.visible = true;
        }
      }

      function mainChanger(){
        if (mainswitch < 30){
          mainswitch++;
        }else if (mainswitch < 60){
          mainswitch++;
          m01.visible = false;
          m02.visible = true;
        }else if (mainswitch < 90){
          mainswitch++;
          m02.visible = false;
          m03.visible = true;
        }else{
          mainswitch = 0;
          m03.visible = false;
          m01.visible = true;
        }
      }

      function lifeHit(){
        life--;
        //console.log(life);
      }


      </script>
    </body>
    </html>
